body {
  background-image:    url(wallpaper.jpg);
  background-size:     cover;
  background-repeat:   no-repeat;
  font-family: Tahoma, Geneva, sans-serif;
  padding: 50px;
  font-family: Tahoma, Geneva, sans-serif
}

#moonForm {
  width: 600px;
  text-align: right;
}

h1 {
  text-align: center;
}

a {
  color: #00B7FF;
}

th {
  text-align: left;
}

table {
  width: 100%;
}

#moonResults {
  background:rgba(255,255,255,0.8);
  overflow-y: auto;
}

input {
  margin-bottom: 1rem;
}