body {
  background-image:    url(wallpaper.jpg);
  background-size:     cover;
  background-repeat:   no-repeat;
}

#moonForm {
  width: 600px;
  text-align: right;
}

h1 {
  text-align: center;
}

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

th {
  text-align: left;
}

table {
  overflow-y: scroll;
  width: 100%;
}