body {
  background-image:    url(wallpaper.jpg);
  background-size:     cover;
  background-repeat:   no-repeat;
  font-family: Tahoma, Geneva, sans-serif
}

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

th {
  text-align: left;
}

table {
  overflow-y: scroll;
  width: 100%;
}

#moonResults {
  background:rgba(255,255,255,0.5);
}

input {
  padding-bottom: 1rem;
}